@import 'variables.less';

@media (max-width: 1024px) {
	.container-center {
		width: 100%;
	}
} /* end @media */

@media (max-width: 680px) {

	.container-center {

		.other-products {
			width: 100%;
		}

		
	}
} /* end @media */

@media (max-width: 860px) {

	.container-center {

		&.margin-top-for-title {
			padding-top: 50px;
		} 

		.page-title {
			font-family: 'Oswald', sans-serif;
			color: @pageTitleColor;
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: 1.2px;
			font-weight: bold;
			line-height: 16px;
			position: absolute;
			left: 24px;
			top: 0px;
		}


		.left-info-block {
			width: 50%;
			float: left;

			img {
				width: 335px;
				padding-left: 0px;
				margin: 0px auto;
				display: block;
			}

			.relative {
				position: relative;
				width: 335px;
				margin: 0px auto;
			}

			.social-links-block {
				display: block;
			}
			
		}  /* left-info-block */

		.right-info-block {

			.product-info {
				padding-left: 0px;
			}

			.item-id {
				padding: 0px;
			}

			.price-block {
			
				font-size: 36px;
				font-weight: 700;
				padding-top: 0px;

				.old-price {
					color: @darkBlueColor;
					text-decoration: line-through;
				}

				.new-price {
					color: @productRedColor;
					padding-left: 20px;
				}

			} /* end price-block  */

			.starts-rating {
				margin-top: 5px;
			}

			.desc-label {
				margin-top: 12px;
				display: block;
			}
			
			.share-button {
				display: none;
			}

			.description {
				margin-top: 5px;
			}

			.cart-btn {
				font-size: 18px;
				margin-top: 20px;
			}

		} /* right-info-block */


		.other-products {
			width: 100%;
			margin: 54px auto 0px;

			.product-list {
				justify-content: center;
				margin-top: 28px;


				.flex-item {
					padding: 0px 20px;

					.item-price {
						
						img {
							width: 300px;
						}

						.price-label {

							.old-price {
								display: none;
							}

							.rgba(@mintColor, 0.8);
							position: absolute;
							bottom: 4px;
							padding: 0px 0px;
							right: 0px;
							font-size: 22px;
							.setLetterSpacing(22px, 75);
							width: 100%;

						}
					}

				}

			}

			.title {
				text-align: center;
			}
			
		} /* other-products */

	}
} /* end @media */

@media (max-width: 680px) {

	.container-center {

		.left-info-block {

			float: initial;
			width: 100%;

			.relative {

				width: 100%;

				img {
					width: 50%;
					padding-left: 0px;
					margin: 0px auto;
					height: auto;
				}

				.social-links-block {
					display: none;
				}
			}
		}

		.right-info-block {

			.page-title {
				text-align: center;
				width: 100%;
				margin-left: 0px;
				padding-left: 0px;
				left: 0px;
			}

			width: 100%;
			float: inherit;

			.product-info {
				padding-top: 20px;
				padding-left: 10%;
			}

		}


		.other-products {
			
			.product-list {

				.slider-nav {
					display: block;
				}
			}
		}

	}

} /* end @media */


@media (max-width: 375px) {

	.container-center {

		.left-info-block {
			float: initial;
			width: 100%;

			.relative {
				position: relative;
				width: 100%;
				margin: 0px;

				img {
					width: 100%;
					padding-left: 0px;
					margin: 0px;
					height: auto;
				}
			}

			
		}

		.right-info-block {

			width: 100%;
			float: inherit;


			.starts-rating {
				height: 20px;
			}

			.mobile-share-links {
				display: block;
			}

			.label {
				float: initial;

				span {
					display: none; 
				}

				.mobile {
					display: block;
				}
			}

			.description {
				font-size: 14px;
				margin-top: 25px;
				font-weight: normal;
				.setLetterSpacing(@shareButtonFontSize, 25);
			}

			.size-block {
				height: 70px;
			}

			.color-block {
				height: 100px;
			}

			.product-info {
				padding-left: 10%;
			}

			.cart-btn {
				margin: 20px auto 0px;
				font-size: 18px;
				width: 275px;
				height: 55px;
				line-height: 55px;
			}

			.desc-label {
				display: none;
			}
		}

		.other-products {
			
			.product-list {
				.flex-item {
					.item-price {

						img {
							width: 280px;
						}

						.price-label {
							font-size: 18px;

							.old-price {
								display: none;
							}
						}
					}
					
				}
			}

		} /* end other-products */
	}

} /* end @media */

@media (max-width: 320px) {
	.container-center {

		.right-info-block {
			.price-block {
				font-size: 32px;
			}
		}

		.other-products {

			.product-list {
				.flex-item {
					.item-price {

						img {
							width: 240px;
						}

						.price-label {
							font-size: 16px;

							.old-price {
								display: none;
							}
						}
					}

				}
			}

		} /* end other-products */
	}
} /* end @media */

