@import 'variables.less';

* {
	margin: 0px; 
	padding: 0px;
}

.container-center {
	
	position: relative;
	width: @mainContainerW;
	margin: 25px auto 0px;
	font-family: 'Open Sans', sans-serif; 

	.left-info-block {
		width: 50%;
		float: left;

		img {
			padding-left: 50px;
		}

		.relative {
			position: relative;
		}

		.social-links-block {
			
			display: none;
			position: absolute;
			top: 15px;
			left: 16px;

			.icon {
				display: block;
				height: 41px;
				width: 41px;
				background-repeat: no-repeat;
				background-position: center;
				cursor: pointer;
				margin-bottom: 10px;

				&.icon-facebook {
					background-image: url(@iconFacebook);
				}
				&.icon-twitter {
					background-image: url(@iconTwitter);
				}
				&.icon-pinteres {
					background-image: url(@iconPinteres);
				}
				&.icon-youtube {
					background-image: url(@iconYoutube);
				}
				&.icon-close {
					background-image: url(@iconClose);
					padding-right: 0px;
				}

				&:hover, &.active {
					opacity: 0.8;
				}

			}

		}

	} /* end .left-info-block */
	
	.right-info-block {
		width: 50%;
		float: left;

		.product-info {
			padding-left: 38px;
			padding-top: 0px;
			padding-right: 50px;
		}

		.page-title {
			font-family: 'Oswald', sans-serif;
			color: @pageTitleColor;
			font-size: @pageTitleFontSize;
			text-transform: uppercase;
			.setLetterSpacing(@pageTitleFontSize, 50);
			font-weight: bold;
			line-height: 16px;
		}

		.item-id {
			font-size: 11px;
			color: @darkBlueColor;
			.setLetterSpacing(@productIDFontSize, 50);
			padding: 20px 0px 0px 0px;
		}

		.price-block {
			
			font-size: 24px;
			font-weight: 700;
			padding-top: 14px;

			.old-price {
				color: @darkBlueColor;
				text-decoration: line-through;
			}

			.new-price {
				color: @productRedColor;
				padding-left: 20px;
			}
		} /* end price-block  */


		.desc-label {
			display: none;
			margin-top: 22px;
			font-size: @choiceLabelFontSize;
			color: @darkBlueColor;
			text-transform: uppercase;
			font-weight: bold;
			.setLetterSpacing(@shareButtonFontSize, 50);
		}

		
		.starts-rating {

			margin-top: 18px;


			.start-grey {
				display: block;
				float: left;
				height: 18px;
				width: 18px;
				background-image: url("../img/star-grey.png");
				cursor: pointer;

				&:hover, &.active {
					background-image: url("../img/star-active.png");
				}
			}

		} /* end starts-rating */

		.share-button {
			display: inline-block;
			position: relative;

			font-size: @shareButtonFontSize;
			color: #2c87ce;
			cursor: pointer;
			font-weight: bold;
			.setLetterSpacing(@shareButtonFontSize, 25);
			float: left;
			margin-left: 18px;
			margin-top: -2px;

			&:hover {
				color: #333;
			}
		}

		.mobile-share-links {
			display: none;
			margin-top: 30px;
			.icon {

				display: inline-block;
				height: 41px;
				width: 41px;
				background-repeat: no-repeat;
				background-position: center;
				cursor: pointer;
				padding-right: 11px;

				&.icon-facebook {
					background-image: url(@iconFacebook);
				}

				&.icon-twitter {
					background-image: url(@iconTwitter);
				}

				&.icon-pinteres {
					background-image: url(@iconPinteres);
				}

				&.icon-youtube {
					background-image: url(@iconYoutube);
				}

				&:hover {
					opacity: 0.8;
				}
			}
		}

		.description {
			margin-top: 20px;
			font-weight: 300;
			font-size: @productDescFontSize;
			color: @productDescColor;
			.setLetterSpacing(@shareButtonFontSize, 50);
		}


		.label {
			float: left;
			font-size: @choiceLabelFontSize;
			color: @darkBlueColor;
			text-transform: uppercase;
			font-weight: bold;
			.setLetterSpacing(@shareButtonFontSize, 50);
			margin-right: 35px;
		}

		.btn-circle {

			color: @darkBlueColor;
			font-size: @productDescFontSize;
			font-weight: bold;
			line-height: 20px;
			text-align: center;
			height: 20px;
			width: 20px;
			float: left;
			margin: 0px 10px 0px 0px;
			padding: 9px;
			border: 1px solid #cdcdcd;
			border-radius: 50%;
			text-transform: uppercase;
			cursor: pointer;
			background: #fff;


			&:hover, &.active {
				border: 1px solid #fff;
				.setShadow();
			}

			 &.light-blue {
				background: @light-blue;
				border: none;
			}

			 &.green {
				background: @green;
				border: none;
			}

			 &.pink {
				background: @pink;
				border: none;
			}

			 &.violet {
				background: @violet;
				border: none;
			}

		}

		.size-block {
			margin-top: 10px;
			height: 40px;
			line-height: 40px;

			.mobile {
				display: none;
			}
		}

		.color-block {
			margin-top: 15px;
			height: 40px;
			line-height: 40px;
			
			.label {
				margin-right: 15px;
			}

			.btn-circle  {
				/* padding: 11.5px; */
			}

			.mobile {
				display: none;
			}
		}

		.cart-btn {
			font-size: 14px;
			width: 213px;
			height: 44px;
			line-height: 44px;
			text-transform: uppercase;
			color: @darkBlueColor;
			text-align: center;
			background: @mintColor;
			border-radius: 20px;
			margin-top: 10px;
			font-weight: bold;
			cursor: pointer;

			.setLetterSpacing(14px,50);

			&:hover, &.active {
				.setShadow();
			};
		}


	} /* end .right-info-block */


	

	.other-products {

		width: (@mainContainerW - 100px);
		margin: 54px auto 0px;

		.title {
			font-size: 22px;
			color: @darkBlueColor;
			font-weight: bold;
			.setLetterSpacing(22px, 75);
		}

		.product-list {

			display: flex;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			position: relative;
			margin-top: 14px;
			flex-wrap: wrap;
			justify-content: space-between;

			.slider-nav {
				display: none;
				position: absolute;
				height: 50px;
				width: 29px;
				cursor: pointer;
			}

			#slider-left {
				background-image: url(@iconLeftArrow);
				left: 1%;
				top: 120px;
			}

			#slider-right {
				background-image: url(@iconRightArrow);
				right: 1%;
				top: 120px;
			}

			.flex-item {
				font-size: @itemTitleFontSize;
				.setLetterSpacing(@itemTitleFontSize, 50);
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 22px;

				.item-price	{
					position: relative;
					margin-bottom: 5px;
					
					img {

						&.active, &:hover {
							.setShadow();
						}
					}

					.price-label {
						
						.rgba(@mintColor, 1);

						position: absolute;
						bottom: 26px;
						padding: 0px 2px;
						right: 0px;
						font-size: @otherProductPriceFontSize;
						.setLetterSpacing(@otherProductPriceFontSize, 75);

						.old-price {
							color: @darkBlueColor;
							text-decoration: line-through;
							padding-right: 9px;
							padding-left: 8px;
						}

						.current-price {
							color: @darkBlueColor;
						}

						.new-price {
							color: @productRedColor;
							padding-right: 6px;
						}

					}
				}

				


			}

		}

	} /* end other-products */

} /* end .container-center */

.share-btn {
	display: inline-block;
    position: relative;
}

.social-popup {

	position: absolute;
	display: none;
	top: 35px;
	width: 295px;

	.triangle {
		position: absolute;
		width: 18px;
		height: 18px;
		left: 50%;
		margin-left: -9px;
		top: -4px;
		background: #ffffff;
		transform: rotate(45deg);

		&.shadow {
			.setShadow();
		}
	}

	.social-links {
		display: block;
		position: relative;
		background: #fff;
		padding: 20px 0px 14px 12px;

		.setShadow();

		.icon {

			display: inline-block;
			height: 41px;
			width: 41px;
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			padding-right: 11px;

			&.icon-facebook {
				background-image: url(@iconFacebook);
			}

			&.icon-twitter {
				background-image: url(@iconTwitter);
			}

			&.icon-pinteres {
				background-image: url(@iconPinteres);
			}

			&.icon-youtube {
				background-image: url(@iconYoutube);
			}

			&.icon-close {
				background-image: url(@iconClose);
				padding-right: 0px;
			}

			&:hover {
				opacity: 0.8;
			}

		}
	}
}

.clearfix {
     clear: both;
}