
@mainContainerW: 934px;

/*
Assets Path
*/
@iconFacebook: "../img/icon-facebook.png";
@iconTwitter: "../img/icon-twitter.png";
@iconPinteres: "../img/icon-pinteres.png";
@iconYoutube: "../img/icon-youtube.png";
@iconClose: "../img/icon-close.png";


@iconLeftArrow: "../img/slider-left-arrow.png";
@iconRightArrow: "../img/slider-right-arrow.png";

/* 
	Colors for buttons
*/
@light-blue: #77d8e7;
@green: #96c795;
@pink: #ce92a1;
@violet: #aa93cf;
@mintColor: #8ae6cf;
@darkBlueColor: #2c303d;
@productRedColor: #ce2c52;
@pageTitleColor: #2c303d;
@productDescColor: #282828;

/*
	Font-size 
 */
@pageTitleFontSize: 24px;
@productDescFontSize: 12px;
@productIDFontSize: 10px;
@shareButtonFontSize: 18px;
@choiceLabelFontSize: 14px;
@itemTitleFontSize: 14px;
@otherProductPriceFontSize: 16px;

/* 
	Functions
*/
.setShadow(){
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

.setLetterSpacing(@fontSize, @photoShop){
	letter-spacing: ((@fontSize * @photoShop) / 1000);
}

.rgba(@colour, @alpha)
{
	@alphaColour: hsla(hue(@colour), saturation(@colour), lightness(@colour), @alpha);
	@ieAlphaColour: argb(@alphaColour);
	
	background-color: @colour; // Fallback for older browsers
	background-color: @alphaColour; 
	
	// IE hacks
	zoom: 1; // hasLayout
	background-color: transparent\9;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 8+
        filter:  ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})";  // IE 6 & 7 
	
}